<section class="job">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{job.title}} - <a href="{{job.companyLink}}">{{job.companyName}}</a></mat-card-title>
            <mat-card-subtitle>{{ job.dateRange  }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
            @for (achivement of job.achivements; track achivement) {
                <mat-list-item>
                    <div>{{achivement}}</div>
                </mat-list-item>
            }
            </mat-list>
        </mat-card-content>
        <!-- <mat-card-actions>
            <a [routerLink]="['/details', job.id]">Learn More</a>
        </mat-card-actions> -->
    </mat-card>
</section>