<section class="job">
  <mat-card class="job-card">
    <div class="job-card__header">
      <div class="job-card__heading">
        <h3 class="job-card__title">{{ job.title }}</h3>
        <a
          class="job-card__company"
          href="{{ job.companyLink }}"
          target="_blank"
          rel="noopener"
          >{{ job.companyName }}</a
        >
      </div>
      <span class="job-card__dates">{{ job.dateRange }}</span>
    </div>
    <div class="job-card__body">
      <ul class="job-card__list">
        @for (achivement of job.achivements; track achivement) {
          <li class="job-card__list-item">
            <span>{{ achivement }}</span>
          </li>
        }
      </ul>
    </div>
  </mat-card>
</section>
