{% extends "layout.html" %}
{% block body %}
<div class="jumbotron">
  <h1>Hello, World!</h1>
  <p>Welcome to my personal website where I am suppose to talk about myself
  and my many skills. Until I can figure out better content you will have
  to do with what I have here :)</p>
</div>

  <div class="row">
    <div class="col-md-4">
      <h3>Projects worked on</h3>
      <p>I have built a lot of stuff, but give me time to put it on here. I promise
      I have done a lot of stuff... mainly in delphi.</p>
    </div>
  </div>
{% endblock %}
